@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

*{
    font-family: 'Bebas Neue', cursive;
    color: white;
}

body{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    width: 361px;
    height: 800px;
    background: url(Imagens/Plano-de-fundo.svg);
}

.form-header{
    letter-spacing: 1px;
    font-size: 40px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.418) ;
    text-decoration: underline;
    display: flex;
    justify-content:center ;
    margin-bottom: 20px;
    margin-top: 16px;
}

label{
    font-size: 25px;
}

input{
    outline: none;
    background:none;
    border:none;
    border-bottom:black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;


}


#input-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
    width: 70%;
    margin: 10px 0px 10px 0px;
    
}

#div-label{
    margin-bottom: 20px;
    margin-top: 15px;
}

.icone{
    font-size: 25px;
}

.buttom-entrar{
    display:flex;
    justify-content: center;
    width: 100%;
}

.btn-entrar{
    align-items: center;
    font-size: 38px;
    width: 303px;
    height: 44px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: #0075FF ;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411);
    margin-top: 70px;
    margin-bottom: 30px;
}

.btn-entrar:active{
    background-color: #479dff;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.411);
}

.p-cadastrese{
    letter-spacing: 1px;
    font-size: 25px;
    display: flex;

}

.btn-cadastrese{
    align-items: center;
    font-size: 20px;
    width: 207px;
    height: 26px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: #0016FF ;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411);
}

.btn-cadastrese:active{
    background-color: #4251fd;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.411);

}

img{
    margin-top: 15px;
}


