h1{
    background-color: blue;
    height: 300px;
    width: 300px;
    
    
    /*WIDTH, STYLE, COLOR*/
    border: 10px solid yellowgreen;
    
    text-align: center;
   
    padding:10px 10px 10px 10px ;
    /*CIMA, DEIRA, BAIXO, ESQUER <---- Horários do RELÓGIO*/
   
   
    margin: 10px auto 50PX auto;
    /*CIMA, DEIRA, BAIXO, ESQUER <---- Horários do RELÓGIO*/
    /*margin: auto <--- FAZ ELE FICAR CENTRALIZADO SEMPRE*/


   outline: 10px dashed aquamarine;
    /*WIDTH, STYLE, COLOR*/
}

a{
    border-style: solid;
    border-width: 10px;
    border-color: rebeccapurple;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}